body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f8f9fa;
}

/* Social Links Styles */
.social-links {
    display: flex;
    gap: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

/* Intro Styles */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    margin-bottom:100px;
}

.intro h1 {
    font-size: 2.5em;
    color: #333;
    margin-right: 400px; /* Increase space between the text and the image */
}

.intro img {
    width: 200px; /* Adjust the image size if necessary */
    border: 4px solid #6c757d;
    border-radius: 50%;
    /* margin-left can be used instead of margin-right on the h1 tag if preferred */
}

/* Tech Stack Styles */
.tech-stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
    margin-bottom:100px;
}

.tech-stack img {
    width: 80px; /* Adjust icon sizes if necessary */
    height: 80px;
}

.projects {
    display: flex;
    flex-direction: row; /* 카드를 가로로 나열 */
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 2em;
  }
  
  .project-card {
    display: flex;
    flex-direction: row; /* 이미지와 텍스트를 가로로 나열 */
    align-items: center; /* 가로축 중앙 정렬 */
    background-color: #f9f9f9; /* 카드 배경 */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%; /* 카드 너비 줄임 */
    margin-bottom: 1rem;
  }
  
  .project-image-link,
  .project-image {
    width: 40%; /* 이미지 너비 줄임 */
    border-right: 2px solid #eee; /* 이미지와 텍스트 사이에 선을 추가 */
  }
  
  .project-description {
    width: 60%; /* 텍스트 영역 너비 줄임 */
    padding: 15px;
    text-align: left; /* 텍스트 왼쪽 정렬 */
  }
  
  /* 반응형 디자인 */
  @media (max-width: 768px) {
    .projects {
      flex-direction: column;
    }
  
    .project-card {
      flex-direction: column; /* 모바일에서는 세로 정렬 */
      width: 100%; /* 모바일에서는 카드가 전체 너비를 차지하도록 */
    }
  
    .project-image-link,
    .project-image {
      width: 100%; /* 모바일에서 이미지 전체 너비 */
      border-right: none; /* 모바일에서 이미지와 텍스트 사이의 선을 제거 */
    }
  
    .project-description {
      width: 100%; /* 모바일에서 텍스트 영역 전체 너비 */
    }
  }
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    color: #6c757d;
    font-size: 0.9em;
}